.header {
    display: flex;
    align-items: center;
    padding: 0.2rem;
    height: 10vh;
    width: 100%;
    background-color: #ddd4d446;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
}


.header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    height: 100%;
    margin-left: 1rem;
}


.logo {
    width: 3vw;
    height: 4vh;
}

.logo-title {
    font-family: "Permanent Marker", cursive;
    font-size: 2rem;
    color: #000000;
}

.icon {
    width: 3vw;
    height: 3vh;
}