.main-container {
    position: fixed;
    top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    word-wrap: break-word;
    overflow: auto;
}

.section {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}